@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #1a1a1a;
}

.sw-starships {
    max-width: 800px;
    max-height: 60vh; 
    overflow-y: auto;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 3rem; 
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sw-starships::-webkit-scrollbar {
    display: none;
}

.sw-starships-title {
    color: #feda4a;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
}

.sw-starships-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 0; 
}

.sw-starship-item {}

.sw-starship-link {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 1rem;
    background: #2c2c2c;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    height: 140px; 
    overflow: hidden;
}

.sw-starship-link:hover {
    transform: translateY(-5px);
    background: #3c3c3c;
}

.sw-starship-link:focus, .sw-starship-link:active {
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sw-starship-name {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.sw-starship-model {
    font-size: 1rem;
    text-align: center;
}

.sw-loading-message, .sw-loading-container {
    text-align: center;
    color: #feda4a;
    font-size: 1.2rem;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.sw-loading-container {
    animation: pulse 1.5s infinite;
    margin-top: 1rem; 
}

.sw-loadmore-btn {
    display: block;
    margin: 2rem auto 0;
    padding: 0.5rem 2rem;
    background: transparent;
    border: 2px solid #feda4a;
    border-radius: 15px; /* Bordes redondeados para un diseño moderno */
    color: #feda4a;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.sw-loadmore-btn:hover {
    transform: scale(1.05); /* Efecto hover animado */
    background: #feda4a;
    color: #1b1b1b;
    box-shadow: 0 4px 12px rgba(254, 218, 74, 0.2); /* Sombra hover */
}

.sw-loadmore-btn:active {
    transform: scale(0.95); /* Feedback al hacer clic */
    background: #1b1b1b;
    color: #feda4a;
}
