@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #1a1a1a;
}

.sw-starships {
    max-width: 800px;
    max-height: 60vh; 
    overflow-y: auto;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 3rem; 
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sw-starships::-webkit-scrollbar {
    display: none;
}

.sw-starships-title {
    color: #feda4a;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.sw-starships-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.sw-starship-item {
    margin-bottom: 0; /* Eliminado, ya que usamos gap para el espacio */
}

.sw-starship-link {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 1rem;
    background: #2c2c2c;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    height: 140px; 
    overflow: hidden;
}

.sw-starship-link:hover {
    transform: translateY(-5px);
    background: #3c3c3c;
}

.sw-starship-name {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.sw-starship-model {
    font-size: 1rem;
    text-align: center;
}

.sw-loading-message {
    text-align: center;
    color: #feda4a;
    font-size: 1.2rem;
}

.sw-loadmore-btn {
    display: block;
    margin: 2rem auto 0;
    padding: 0.5rem 2rem;
    background: transparent;
    border: 2px solid #feda4a;
    border-radius: 8px;
    color: #feda4a;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sw-loadmore-btn:hover {
    background: #feda4a;
    color: #1b1b1b;
}
