<div class="login-container">
  <form class="login-form" (ngSubmit)="onLogin()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="username-addon"><i class="fas fa-user"></i></span>
      <input [(ngModel)]="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="username-addon" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="password-addon"><i class="fas fa-lock"></i></span>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" aria-label="Password" aria-describedby="password-addon" required>
    </div>
    <button class="btn btn-primary login-btn" type="submit">Login</button>
  </form>
</div>