<div class="sw-home">
    <div class="sw-background">
        <img src="./../../assets/mandalorian.png" alt="Star Wars Universe">
    </div>
    
    <header class="sw-header">
        <h1>Sprint 8 It Academy</h1>
        <h2>StarWars Universe</h2>
    </header>

    <nav class="sw-nav">
        <button class="sw-nav-btn" (click)="closeAllModals()">Home</button>
        <button class="sw-nav-btn" (click)="changeOpenModal()">StarShips</button>
    </nav>

    <div class="sw-content" *ngIf="openModal">
        <app-star-ships></app-star-ships>
    </div>
</div>
